<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.car_market_android"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".UserAuth"
            android:label="UserAuth"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme" >     
             <intent-filter>
                <action android:name="com.car_market_android.UserAuth" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".UserCreate"
            android:label="UserCreate"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme" >     
             <intent-filter>
                <action android:name="com.car_market_android.UserCreate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".UserUpdate"
            android:label="UserUpdate"
            android:screenOrientation="portrait"
            android:theme="@style/PopupTheme" >     
             <intent-filter>
                <action android:name="com.car_market_android.UserUpdate" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        
    </application>

</manifest>